<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_CloudfrontInvalidation>
            <version>1.0.0</version>
        </Mgt_CloudfrontInvalidation>
    </modules>
    <global>
        <blocks>
            <mgt_cloudfront_invalidation>
                <class>Mgt_CloudfrontInvalidation_Block</class>
            </mgt_cloudfront_invalidation>
            <mgt_cloudfront_invalidation_adminhtml>
                <class>Mgt_CloudfrontInvalidation_Block_Adminhtml</class>
            </mgt_cloudfront_invalidation_adminhtml>
        </blocks>
        <models>
            <mgt_cloudfront_invalidation>
                <class>Mgt_CloudfrontInvalidation_Model</class>
            </mgt_cloudfront_invalidation>
        </models>
        <helpers>
            <mgt_cloudfront_invalidation>
                <class>Mgt_CloudfrontInvalidation_Helper</class>
            </mgt_cloudfront_invalidation>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_cloudfront_invalidation translate="title" module="mgt_cloudfront_invalidation">
                                            <title>mgt-commerce</title>
                                        </mgt_cloudfront_invalidation>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mgt_cloudfront_invalidation>
                    <file>mgt_cloudfront_invalidation.xml</file>
                </mgt_cloudfront_invalidation>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_CloudfrontInvalidation before="Mage_Adminhtml">Mgt_CloudfrontInvalidation_Adminhtml</Mgt_CloudfrontInvalidation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
